<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938145287148-3b96qect9a9drnhsio206ld9go22fk1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938145287148-3b96qect9a9drnhsio206ld9go22fk1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>938145287148-3710uhku86ad6qq5id96n5ap8mtjr8r1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCra_DdnjjKhFrbMadUtnKPKbRYd0qEotY</string>
	<key>GCM_SENDER_ID</key>
	<string>938145287148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nowu.app</string>
	<key>PROJECT_ID</key>
	<string>now-u-d140a</string>
	<key>STORAGE_BUCKET</key>
	<string>now-u-d140a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938145287148:ios:1527edd0f9d24278c68ec9</string>
	<key>DATABASE_URL</key>
	<string>https://now-u-d140a.firebaseio.com</string>
</dict>
</plist>